* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 40px;
}

hr {
  margin: 40px 0;
}

.area {
  width: 500px;
  height: 500px;
  background-color: #efefef;
}

.box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  text-align: center;
  line-height: 100px;
  font-size: 13px;
  font-weight: bold;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.caption {
  position: absolute;
  top: -24px;
  left: 0;
  display: block;
  background-color: black;
  color: #fff;
  padding: 0 12px;
  font-size: 13px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.skyblue {
  background-color: skyblue;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

/* z-index 다루기 */
.q-1 .box:nth-of-type(1) {
  top: 0;
  left: 50px;
}

.q-1 .box:nth-of-type(2) {
  top: 0;
  right: 100px;
}

.q-1 .box:nth-of-type(3) {
  bottom: 20px;
  right: -50px;
}

.q-1 .box:nth-of-type(4) {
  top: 0;
  left: 80px;
}

.q-2 .box {
  top: 0;
  left: 100%;
}

/* 가운데 포지셔닝 */
.center-goal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.q-3 .absolute{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 게시글 아이템 */


/* 슬라이드 컨트롤 버튼 */

.q-4 .container{
  width: 400px;
}
.q-4 .container .item{
  position: relative;
  border: 1px solid red;
}
.q-4 .container .item img{
  width: 100%;
}
.q-4 .container .item button{
  position: absolute;
}
